spring:
  application:
    name: api

  datasource:
    url: jdbc:h2:mem:scheduling
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  h2:
    console:
      enabled: true
      path: /h2
server:
  servlet:
    context-path: /api